@import "tailwindcss";

:root { 
  --card: #2B2B41;
  --foreground: #fff;
  --primary: #3b82f6;
}

@theme inline {  
  --color-primary: #A2DD3C;  
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@utility bg-radial {
  background: radial-gradient(circle at top, #1f1f47, #111);
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
